<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include analytics.html %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9166422523496420"
     crossorigin="anonymous"></script>
    <meta name="google-adsense-account" content="ca-pub-9166422523496420">
<!-- HEAD içinde ekleyin (default layout) -->

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-p1S8X0GxZ7Dx2lP1N0rI3l4V6JhU0k8Z2B1xwG6cwZVd6rG+7r5jKZ7hB5M8iZ+Iu1C5vC9Zgxw5iF3P5G7xw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>NullSecurityX</h1>
          <p>Hacking Articles Blog</p>
          <hr>
        </div>

        {{ content }}
            </section>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9166422523496420"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-9166422523496420"
     data-ad-slot="4577828540"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9166422523496420"
     crossorigin="anonymous"></script>
<!-- r1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9166422523496420"
     data-ad-slot="9572216494"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


    </div>
  </body>
</html>
